[2017-02-01 11:17] eljefedelrodeodeljefe opened #2 "Feature: black- and whitelisting"
...would come in handy. I think chaosmonkey has a similar feature.

[2017-02-01 20:33] linki commented on #2
Hi @eljefedelrodeodeljefe,

that certainly makes sense. Let's collect a list of what would be useful and not too complicated to use and implement.

I can think of
* white- and blacklisting by namespace(s)
* white- and blacklisting by label selector

blacklisting *trumps* whitelisting, I guess. So pods matching a whitelisted label selector that are in a blacklisted namespace should not be killed.

[2017-02-06 09:43] eljefedelrodeodeljefe commented on #2
I think that concludes it to be lightweight. Sounds good to me.

[2017-02-06 23:04] kfox1111 commented on #2
Another possibility is attributes.

[2017-02-07 18:41] linki commented on #2
@kfox1111 want do you have in mind?

something like this maybe:

* all pods with some value for an attribute (e.g. `serviceAccountName=default`)
* all pods containing at least one container with some value for an attribute (e.g. `image=nginx` )

[2017-02-07 23:17] linki commented on #2
@eljefedelrodeodeljefe @kfox1111 Label based solution is here: https://github.com/linki/chaoskube/pull/5. Let me know what you think.

[2017-02-07 23:54] kfox1111 opened #6 "deployment limits"
So, I'd really like to use chaoskube to force our deployment objects to have to exercise its connection tracking/safe shutdown code. Some assurances too many pods don't get killed would be good though. Would it be possible to add support for looking at the .spec.strategy.rollingUpdate.maxUnavailable field and the .spec.replica's field to ensure not too many are out at a time?

[2017-02-08 14:15] linki commented on #6
That sounds like a reasonable idea. However, as you don't get these guarantees in production I wouldn't tackle it next.

[2017-02-08 14:17] linki commented on #6
Instead of manually finding out whether we can kill a particular pod under the above circumstances, we could also enable `chaoskube` to respect any definded [Pod Disruption Budgets](https://kubernetes.io/docs/admin/disruptions/). Basically a "soft" mode.

[2017-02-08 17:00] kfox1111 commented on #6
Yeah, the use case for me though is existing software. total chaos is great for ensuring clients will work when servers drop out. Lets you build much more reliable clients/servers. All software should be built that way. But as a writer of k8s objects/orchestration for existing software, there's the use case of, ensuring at least the orchestration code is solid by forcing deletes frequently, but no

[2017-02-08 17:00] kfox1111 commented on #6
Sorry. wrong button.

[2017-02-09 13:56] linki commented on #6
I looked into `PodDisruptionBudget`s yesterday and they are pretty much want you want.

Kubernetes defines voluntary evictions (e.g. due to draining, auto-downscaling, etc.) and involuntary pod evictions (node failures etc.).

With those budgets you define a label selector and a minimun number of pods that should exists matching this selector. If not you cannot evict the pod. you can still delete

[2017-02-09 19:16] kfox1111 commented on #6
very cool. thanks for looking into this and letting me know what you found. :)

[2017-02-11 21:20] linki commented on #2
@eljefedelrodeodeljefe Namespace-based filtering, both white- and blacklisting supported, no regexp shenanigans: https://github.com/linki/chaoskube/pull/9#issue-206983465

[2017-02-12 15:34] linki opened #12 "filter by attributes"

[2017-02-12 15:35] linki opened #13 "respect pod disruption budgets"

[2017-02-12 15:42] linki commented on #2
Label-based and namespace-based selection is part of the [v0.4.0 release](https://github.com/linki/chaoskube/releases/tag/v0.4.0)

I'm going to close this and create a new issue for attribute based filtering: https://github.com/linki/chaoskube/issues/12

[2017-02-12 15:42] #2 closed

[2017-02-12 15:42] linki commented on #2
thanks @eljefedelrodeodeljefe and @kfox1111 for the suggestions!

[2017-02-12 15:49] linki commented on #6
@kfox1111 I'm re-labelling this as "respect pod disruption budgets" as it seems to be a good approach to achieve what we want in a general way. The outcode should be that `chaoskube` can be run with a mode respecting the budgets and without for true chaos.

new issue: https://github.com/linki/chaoskube/issues/13

@kfox1111 feel free to re-open if you think this is wrong.

[2017-02-12 15:49] #6 closed

[2017-02-12 15:59] linki opened #14 "update and document helm chart"
update chart to v0.4.0 and document that as an install option in the reame

[2017-02-13 17:48] kfox1111 commented on #6
Sounds good. Thanks. :)

[2017-02-13 17:53] kfox1111 commented on #12
Sorry. I said attributes, but was really intending to say annotations:
https://kubernetes.io/docs/user-guide/annotations/

Other systems like Prometheus use them to tag pods. For example, as needing to be scraped.

[2017-02-13 18:50] linki commented on #12
makes sense, I'll add another issue as attributes may still be useful.

[2017-02-13 18:50] linki opened #15 "filter target pods by annotations"
add support for filtering pods by annotations

[2017-02-20 15:00] linki opened #17 "update travis.yml to test against go1.8"
Go 1.8 is out and we should support it :)

[2017-02-23 12:27] linki opened #20 "Decouple individual pod termination frequency from cluster size"
Currently, the probability of a pod being killed depends on the number of pods being in the target group. This is bad if you want to run `chaoskube` as a cluster addon and opt-in to being killed via annotations because you cannot estimate how often that would happen.

Allow specifying or at least somehow keep track of what's going on so Pod terminations happen in a somewhat predictable way. For ex

[2017-02-23 12:29] linki commented on #17
done in https://github.com/linki/chaoskube/pull/19

[2017-02-23 12:29] #17 closed

[2017-03-04 18:12] linki commented on #15
done in https://github.com/linki/chaoskube/pull/18

[2017-03-04 18:12] #15 closed

[2017-03-04 18:21] linki opened #22 "reduce size of "official" image"
I'm building the image on `quay.io` so I have to compile the binary in the image which greatly increases its size.

Options:
* build somewhere else where compilation of the binary and docker building can be split (drone, google container builder)
* remove everything and have the image squashed by quay.io?

[2017-03-04 18:30] linki commented on #12
@kfox1111 chaoskube v0.5.0 supports filtering by annotations. Thanks for the idea.

Give it a shot if you like. https://github.com/linki/chaoskube#filtering-targets

[2017-03-04 18:30] linki commented on #14
https://github.com/linki/chaoskube/pull/21

[2017-03-04 18:33] linki opened #23 "add prometheus metrics endpoints"
* time to filter pods (I guess it's quite expensive the way it's implemented now)
* killed pods per minute, per namespace etc.
* errors / successes
* % blocked by pod disruption budgets

[2017-03-16 20:23] #14 closed

[2017-03-18 14:25] linki opened #27 "Add a logo"
Now that `chaoskube` is listed on [https://kubeapps.com](https://kubeapps.com/charts/stable/chaoskube) we should get a pretty logo :)

[2017-06-30 14:56] klautcomputing commented on #20
Would you like this to be pod specific or a cluster wide probability?

[2017-07-05 15:01] klautcomputing opened #35 "Create more chaos during business hours"
Chaoskube should be able to create more chaos during hours where people are around to notice, fix and learn from failures. It makes no sense for the artificial chaos to occur at night and get people paged when they are asleep.

[2017-07-05 20:33] klautcomputing commented on #35
I started working on this.

[2017-07-06 14:34] linki commented on #35
Agreed, what do you have in mind for tackling this?

[2017-07-06 14:55] linki commented on #20
I was thinking about making it pod specific but I also see value in a global version of it like you propose in https://github.com/linki/chaoskube/pull/34.

For the pod specific version I thought one would annotate a PodSpec with something like:
* `chaos.alpha.kubernetes.io/frequency=2/day` for "kill this twice per day"
* `chaos.alpha.kubernetes.io/frequency=10/hour` for "kill this ten times per ho

[2017-07-06 15:04] klautcomputing commented on #35
I would like to introduce 3 new flags: `--run-from`, `--run-to`, `--excludeWeekends` so that you can set them to `--run-from 9:00 --run-to 17:00 --excludeWeekends` and thereby disable killing anything during weekends and from 17:00 to 9:00.

I am basing my code on the `tick` and `interval` code I introduced for `--percentage`. The idea is to calculate the interval to the next "wakeUp" time and the

[2017-07-06 15:30] klautcomputing commented on #20
Sounds good.

Just a couple of thoughts/questions I had when I read this:
- What do you plan to do with non annotated pods?
- What happens to pods that want a higher kill rate than 60/hour?
- This is more complicated, but might be the better approach because every pod can opt-in and decide its own kill rate.
- Do we want that pod or namespace specific?

[2017-07-10 17:40] klautcomputing opened #36 "Using the inClusterConfig. This might not work."
Since https://github.com/linki/chaoskube/pull/28 I am seeing the error:

[code]

[2017-07-11 09:36] linki commented on #36
Sorry about that.

I can't reproduce it. Can you provide more context?

[2017-07-11 15:00] klautcomputing commented on #36
Are you running in cluster or outside your cluster?

I have mine run inside the cluster and since #28 was merged it first gave me the error that it does not know about `--in-cluster` anymore and then when I removed that from my arguments it went into a crashbackuploop with the error message from above.

I have no idea about how you build configs in Go for kubernetes just looking at your code chang

[2017-07-12 11:32] linki commented on #36
Alright, can you send me a link to your Dockerfile and tell me the Kubernetes environment you're running in? (GKE, Azure, minikube, custom setup, ...)

We're using the same approach in https://github.com/kubernetes-incubator/external-dns so I'd like to find out what's the issue.

[2017-07-12 15:09] klautcomputing commented on #36
My Dockerfiles are here: https://github.com/linki/chaoskube/pull/33/files and I am running out of GKE.

[2017-07-14 12:39] linki commented on #36
Now I see it, too. Will look into it.

[2017-07-14 19:15] klautcomputing commented on #36
Thanks for looking into it.

[2017-08-22 21:51] pswenson opened #38 ""/root/.kube/config: no such file or directory" fatal error"
I installed the project and ran this command:

`chaoskube --interval=1m  --debug --deploy`

I'm getting a CrashLoopBackOff with this error:

[code]

Any insights?

[2017-08-23 19:26] pswenson commented on #38
I think that the problem is created by the removal of the `--in-cluster` flag.  I went back to the v0.5.0 release and haven't had any problems so far

[2017-08-24 09:19] linki commented on #38
@pswenson Can you tell me more about your environment?

If you run chaoskube in a cluster then it should find the credentials from the environment. (Unless you disabled it which you can do with `automountServiceAccountToken: false`[[1]]).

If chaoskube doesn't find it from the environment then it tries to get credentials from a kubeconfig file located at the user's `.kube/config` by default. So if

[2017-09-08 14:20] #36 closed

[2017-09-25 06:24] AndreaGiardini commented on #35
Hey @klautcomputing any update on this?

[2017-10-06 19:32] jinankjain opened #42 "client-go needs a version bump"
Current version of client-go is around 2.0 and most of the apis are deprecated in the new version.

[2017-10-11 16:32] linki commented on #42
Fixed in https://github.com/linki/chaoskube/pull/43

[2017-10-11 16:32] #42 closed

[2017-10-12 10:12] linki commented on #22
Went with Docker's multi-stage builds (https://github.com/linki/chaoskube/pull/37). However, quay doesn't support it yet, so I'll push in manually for now.

Smaller images beginnign with `quay.io/linki/chaoskube:v0.6.0`

[2017-10-12 10:12] #22 closed

[2017-10-13 20:04] swestcott opened #44 "Filter namespaces by labels"
Our cluster includes ephemeral, randomly named namespaces which are used to run automated integration tests as part of a Jenkine pipeline. Rather than tagging numerous pod with a labels to exclude them, we'd like to be able to exclude entire namespaces using labels.

This could be achieved with an additional option, `--namespace-labels`. Just wondering if this would be a useful addition? I'd happy

[2017-10-19 15:29] linki commented on #44
@swestcott I like that idea!

[2017-12-01 00:55] twildeboer opened #48 "Observe non-working times feature"
I'm proposing a feature addition to chaoskube that would add the ability suspend the chaos during nights, weekends and holidays using the following command-line options. These are designed to be somewhat consistent with the current pattern of chaoskube options as well as the [configuration options for Chaos Monkey](https://netflix.github.io/chaosmonkey/Configuration-file-format/). They should be s

[2017-12-01 05:17] klautcomputing commented on #48
I did some of the things you proposed in my PR already. If you want extend it with the things I don't have that'd be the easiest for you.

[2017-12-01 11:21] linki commented on #48
@twildeboer @klautcomputing I try to look at the PR again over the weekend. At first sight the way to specify the time frame as well as the implementation seemed quite complicated to me.

@klautcomputing would you think defining the range similar to https://github.com/hjacobs/kube-downscaler#configuration would simplify usage as well as implementation and still be able to capture your use cases?

[2017-12-01 15:15] klautcomputing commented on #48
@linki could you leave a couple of comments on my code where you think my implementation is too complicated?

Did you maybe mean `Mon-Fri`? Because otherwise I don't see how that format is meant to work. If yes, then I think that'd be easily doable. Thinking about it again we might not want this as a flag for choaskube but instead as a label in the manifest which would allow individual teams to sp

[2017-12-01 20:31] twildeboer commented on #48
Generally speaking, I suggest being careful to resist the temptation over-engineer features. Rather, design and implmenet what you know is needed and then see how that goes and whether there is demand for more or something different.

Regarding this feature specifically, speaking only for our own use case, we do not have need for both detailed "off-time" and "on-time" specifications. Our team has

[2017-12-07 04:54] twildeboer commented on #48
@linki  - FYI, Finished my implementation of this feature. Will test tomorrow.
Branch in my fork is [here](https://github.com/twildeboer/chaoskube/tree/twildeboer/support_suspending_chaos).
Still need to update README.

[2017-12-08 20:20] twildeboer commented on #48
@linki - [PR for this feature](https://github.com/linki/chaoskube/pull/50) waiting for you.

[2017-12-08 21:06] twildeboer commented on #48
@linki  - FYI, Finished my implementation of this feature. Will test tomorrow.
Branch in my fork is [here](https://github.com/twildeboer/chaoskube/tree/twildeboer/support_suspending_chaos).
Still need to update README.

[2017-12-19 17:14] grosser opened #51 "add dumb-init"
lots of details in https://github.com/Yelp/dumb-init ... want a PR for that ?
(adding a apk package)

[code]

[2017-12-19 17:36] grosser opened #52 "cannot delete pod "No policy matched""
some instructions on what policy to add to the service-account would be nice ... or is it supposed to work out of the box ?

[2017-12-19 17:52] grosser commented on #52
needed to manually create the account with higher permissions

[code]

[2017-12-19 17:52] #52 closed

[2018-01-16 13:55] linki commented on #51
@grosser I'm happy to take it. Did you see any issue with the current version?

[2018-01-16 16:08] grosser commented on #51
Did not see any actual issues, but we are adding dumb-init to all our apps as precaution.

[2018-01-17 15:23] #51 closed

[2018-01-23 22:15] anwaazim opened #59 "[power] chaoskube (v0.6.1) image is not available for power."
I am running following os on power machine.

Linux icp1p1 4.10.0-42-generic #46~16.04.1-Ubuntu SMP Mon Dec 4 15:55:56 UTC 2017 ppc64le ppc64le ppc64le GNU/Linux

After deploying chaoskube in the host, I get following error:
 **standard_init_linux.go:185: exec user process caused "exec format error"**
The chaoskube runs well in x86 hosts, but not in power. Is there any workaround how to run that in

[2018-01-25 16:25] linki commented on #59
@anwaazim No, there's no such image at the moment. If you want to make a PR I'm happy to include it at `quay.io/linki/chaoskube`. Maybe similar to how [flannel](https://quay.io/repository/coreos/flannel?tab=tags) does it: https://github.com/coreos/flannel/blob/master/Makefile#L46-L56.

[2018-01-26 05:25] anwaazim commented on #59
@linki : My colleague created a pull request here for this : https://github.com/linki/chaoskube/pull/60

[2018-03-23 10:08] otrosien opened #75 "Allow running with operator role"
Hi,

I have a deployment where I'm using the operator role for my kubernetes namespace, so I have full access, but only within my own namespace. chaoskube becomes ready but fails to operate.

[code]

[2018-03-23 10:08] otrosien commented on #75
... readiness probe should probably fail if things like this happen.

[2018-04-04 21:34] linki commented on #75
Perfect idea. I'll put this on my roadmap.

[2018-04-04 21:36] linki commented on #75
I didn't have RBAC in mind. Given the current implementation it always needs pod-reader access on a global scope. Which means limiting chaoskube to one or more namespaces doesn't allow you to also restrict its access to only them. This would be desireable as well.

[2018-04-10 16:30] linki opened #78 "Exclude static pods from termination"
static pods cannot be killed via the Kubernetes API: https://kubernetes.io/docs/tasks/administer-cluster/static-pod/

Let's ignore them. We could use these annotations to detect what is a static pod:

[code]

[2018-04-11 18:30] robert-stevenson opened #79 "exclude apps, with only 1 replica"
I'd like the ability to exclude apps with only 1 replica

[2018-04-15 17:59] Bo0mer opened #80 "Allow configuration of grace period when deleting pods"
Hello,

First of all, tanks for your awesome work!

It makes sense allow one to configure the grace period that K8s will give to the deleted pod before violently killing it (using `SIGKIL`). According to [the documentation](https://kubernetes.io/docs/concepts/workloads/pods/pod/#termination-of-pods) the default value (at least for `delete` commands issued via `kubectl`) is 30 seconds, which I thin

[2018-04-18 12:51] linki commented on #80
Hi @Bo0mer, thanks!

I agree, how about we add a `--grace-period` flag to `chaoskube` in order to configure that value. If unspecified we'd use the current behaviour.

I'm wondering: if it's unspecified in the `delete` call, does it use `30` or does it use whatever is defined in the pod's spec at `terminationGracePeriodSeconds`?

[2018-04-18 13:03] linki commented on #79
That would be a bit more work as `chaoskube` currently works solely on the Pod list.

One would have to use the `ownerReferences` to find its `ReplicaSet` and from there the current number of siblings.

Another but more hackier way would be to take the `labels` of the potential target Pod and make sure there's at least one other Pod matching the same labels before killing it. (Other Pods with the

[2018-04-18 13:18] linki commented on #35
This feature was introduced in [v0.8.0](https://github.com/linki/chaoskube/releases/tag/v0.8.0) based on a different codebase and with different flags but essentially the same behaviour.

@klautcomputing I'll still have a look at your `--percentage` code as this is my personal biggest missing feature from `chaoskube` at the moment.

/cc @AndreaGiardini

[2018-04-18 13:18] #35 closed

[2018-04-18 13:19] linki commented on #38
@pswenson Do you want to give it another try with the latest version?

[2018-04-18 13:36] linki commented on #48
@klautcomputing @twildeboer Thank you for all your input.

The above feature is part of [v0.8.0](https://github.com/linki/chaoskube/releases/tag/v0.8.0) so I'm going to close this issue. I think we found a fairly easy way to configure it althought the equivalent of `--workhours` is not defined including but excluding similar to `--offdays` and `--holidays`.

I also think that at some point some co

[2018-04-18 13:36] #48 closed

[2018-06-02 17:42] linki commented on #59
The latest image is available as:

[code]

Any tag ending in `-ppc64le` will be built and pushed using `Dockerfile.ppc64le`. I'll try to keep them in sync.

[2018-06-02 17:43] #59 closed

[2018-06-02 17:50] linki commented on #79
I think this makes a lot of sense in order to start using `chaoskube` without unnecessary interruptions.

Let's go with:

/cc @robert-stevenson

[2018-06-06 13:19] linki commented on #78
Detection could be similar to: https://github.com/zalando-incubator/cluster-lifecycle-manager/blob/8042e37ad3fb482879112e8bc6d095c01ff2ef7c/pkg/updatestrategy/node_pool_manager.go#L481-L484

[2018-06-21 18:47] nsidhaye opened #82 "Exclude evicted pods from termination"
I tested your simple but effective chaoskube & I think it really useful for us.

Do you have any plans to exclude evicted pods from terminations ?

e.g.
kubectl get pods -n {your_namespace} -w
[code]

In this case chaoskube try to evict pods which already evicted.

If this feature already implemented then can anybody guide me in configuration?

[2018-06-21 22:00] linki commented on #82
@nsidhaye Thanks, I'm glad you find it useful.

I did not consider this and similar cases at all. `Evicted`, `Terminating`, `ContainerCreating`, `CrashLoopBackoff`, etc. should probably all be ignored.

Do you think it makes sense to only consider `Running` pods as targets? Is there a valid reason to include any other state?

[2018-06-27 17:10] nsidhaye commented on #82
@linki : Sorry for late reply. I feel there is no point to killing pod which is already evicted or terminating & even CrashLoopBackoff.

If we target only Running pods then we can effectively use chaoskube in chaose engineering. Assume  chaoskube run interval is set to 120 min. If chaoskube is trying to kill pods which are not in healthy state then we are loosing one opportunity to create chaos.

[2018-06-27 22:38] Spellchaser commented on #82
kubemonkey has an option to kill-all types vs just running pods. It can be trivial to add but I don't think there's a use case for terminating evicted pods. I would say you should be using some kind of [pod-reaper](https://github.com/target/pod-reaper) to remove evicted pods.

[2018-06-28 18:02] nsidhaye commented on #82
@Spellchaser : I don't want to spend cycles on trying to delete evicted pods. Instead I want chaoskube should only consider healthy pods to terminate.

[2018-07-09 09:08] subinmt opened #83 "ChaosKube Doesn't working in my K8s Cluster (GCP)"
Hi,

I have deployed the yaml's in in the examples on my K8s cluster. It's successfully installed,but it doesn't kill any pod or anything like that. Is there any changes in installation. Can you help me please.

Regards
Subin

[2018-07-10 22:36] alexvicegrab commented on #83
@subinmt, make sure you are not running it in --dry-run mode.

[2018-07-11 03:59] subinmt commented on #83
@alexvicegrab , I have already confirmed that. No logs, no pods deleting this script in my cluster. Please help.

[2018-07-11 08:19] alexvicegrab commented on #83
Perhaps try to install the Helm chart, hosted on kubernetes/charts? How are you installing?

[2018-07-11 08:20] alexvicegrab commented on #83
What do the logs of the pods say?

[2018-07-11 08:46] subinmt commented on #83
I was installed YAML's in example folder, but I couldn't find any logs. I yes installed in K8s cluster.

[2018-07-11 09:22] subinmt commented on #83
Yes. See the results:
++++++
kubectl logs -f chaoskube-f488bd5df-ftpv9
time="2018-07-11T09:20:54Z" level=info msg="starting up" dryRun=false interval=1m0s version=v0.8.0
time="2018-07-11T09:20:54Z" level=info msg="connected to cluster" master="https://100.64.0.1:443" serverVersion=v1.9.6
time="2018-07-11T09:20:54Z" level=info msg="setting pod filter" annotations="chaos.alpha.kubernetes.io/enabled=

[2018-07-11 09:31] alexvicegrab commented on #83
OK, now take a course on Kubernetes and RBAC

[2018-07-11 09:32] subinmt commented on #83
Sorry, Can you please help. I am new to K8s.

[2018-07-11 09:35] alexvicegrab commented on #83
You need to understand about K8S and RBAC, there's a lot of articles and documentation on this.

[2018-07-11 09:37] subinmt commented on #83
Oh.. You won't help... Thanks for all your help.

[2018-07-11 12:10] subinmt commented on #83
@alexvicegrab , I have added the following scripts to rbac.yaml
+++++
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: chaoskube
  namespace: default
  labels:
    kubernetes.io/cluster-service: "true"
    addonmanager.kubernetes.io/mode: Reconcile
rules:
- apiGroups:
  - ""
  resources:
  - pods
  verbs:
  - get
- apiGroups:
  - "extensions"
  resources:
  - deployments
  ver

[2018-07-17 20:11] linki commented on #83
@alexvicegrab Thanks for helping out!

[2018-07-17 20:21] linki commented on #83
@subinmt `chaoskube` has certain flags to ignore pods from being killed. The example file you used has some dummy values for them for educational purpose, such as `--excluded-days-of-year=Apr1,Dec24`. Try running it only with the flag `--no-dry-run`.

Also, have a closer look at [the example RBAC file](https://github.com/linki/chaoskube/blob/v0.9.0/examples/rbac.yaml#L5-L8): The permissions`chaosk

[2018-07-19 14:46] bakins opened #85 "Filter pods based on age"
Thanks for this project. I'd started to write my own when I found this.

I'd like to filter pods by there age. Our use case is to not delete pods that are younger than a certain time.

Any interest in adding a `min-age` flag? I'd be happy to do the work and submit a PR if so.

Thanks!

[2018-07-19 15:10] linki commented on #85
@bakins Thanks! 😃

Yes, sounds interesting. Feel free to submit a PR.

[2018-07-20 05:35] subinmt commented on #83
@linki , Thanks for your reply. I have already verified the same from my end. I have commented the "excluded days" and run with no-dry-run option. But not working the Chaoskube. Also, check the RBAC conf file and the chaoskube have the sufficient privileges like list and delete.

[2018-07-23 03:50] nsidhaye commented on #83
@subinmt : How many namespaces are present in your Kube cluster? Are there any namespaces other than kubesystem?

Try following command and see if there are any running pods other than kube-system.

[code]

Did you add annotation on your pods? or better comment out annotate option and concentrate only on namespaces.

As @linki suggest run with only `--no-dry-run`  & `--interval` . Comment out all

[2018-07-23 04:40] subinmt commented on #83
@nsidhaye I am working with K8s default namespace. I have already commented the  annotation and verified the same. but no use. Please help.

[2018-07-23 06:02] bavarianbidi commented on #82
just create a PR for this issue:
https://github.com/linki/chaoskube/pull/87

[2018-07-23 07:13] bavarianbidi opened #88 "chaoskube.yaml doens't work, if a PodSecurityPolicy with runasnonroot is applied"
the USER value in the Dockerfile must be numeric, because kubernetes expect an ID to verify if the USER is root or not.

[2018-07-23 09:50] linki commented on #88
Thanks @bavarianbidi.

Merged https://github.com/linki/chaoskube/pull/89.

[2018-07-23 09:50] #88 closed

[2018-07-23 12:18] bavarianbidi commented on #75
@otrosien please have a look at this PR: https://github.com/linki/chaoskube/pull/91

could you paste the used role and rolebinding?

[2018-07-23 12:24] bavarianbidi commented on #83
hi @subinmt
have you set the `--namespaces`-flag in your deployment?

if you have no cluster-wide permissions to get/delete pods, you must create a role and rolebinding for the destination-namespace.

maybe this PR https://github.com/linki/chaoskube/pull/91 could help?

[2018-07-23 13:02] linki opened #92 "Reduce required permissions when filtering by namespace"
Currently `chaoskube` requires global `pod-reader` to find targets even when narrowing down the search space with the `--namespaces` flag.

See: https://github.com/linki/chaoskube/blob/v0.9.0/chaoskube/chaoskube.go#L144

Deletion works fine as the API targets a specific namespace.

[2018-07-24 14:33] bakins opened #93 "Add /healthz HTTP endpoint that can be used as a livenessProbe"
It'd be good to have an HTTP endpoint that could be used for Kubernetes readiness and liveness probes.  It could return 200 OK. We could create the HTTP listener just before the infinite for loop in a goroutine.

I'm happy to do a PR if you think this is a good idea.

[2018-07-24 15:55] linki commented on #93
@bakins That's a very good idea!

[2018-08-03 16:11] linki commented on #93
This was done in https://github.com/linki/chaoskube/pull/94

[2018-08-03 16:11] #93 closed

[2018-08-03 16:11] linki commented on #93
Thanks @bakins 👍

[2018-08-03 16:13] linki commented on #85
This was done in https://github.com/linki/chaoskube/pull/86. I want to revisit it and maybe add it to docs. Keeping this open for now.

[2018-08-06 22:10] linki opened #98 "Add --minimum-age flag to startup logs and docs"

[2018-08-14 13:18] shaikatz opened #99 "New chart compatible only with k8s > 1.9.0"
Hi,

Since last update to the chart (version 0.8.1) it's now support only K8S > 1.9.0 (apps/v1 api) which is a blocker for us.
Is this a change is a most or you can reconsider it?

I've successfully ran 0.10.0 image on my k8s 1.8 cluster without the helm chart.

[2018-08-14 19:49] linki commented on #99
@shaikatz That's unfortunate 😞

Could you try to use the old chart version and pass a custom `imageTag` to make it work? E.g.

`helm install stable/chaoskube --version 0.8.0 --set imageTag=v0.10.0`

I think reverting it isn't a good idea. We could maybe make it configurable in the chart's deployment template file. If kubernetes version >1.10 use `apps/v1` otherwise `extensions/v1beta1`, something

[2018-08-15 08:05] shaikatz commented on #99
Looks like major charts keep the oldest api they can for backward compatbility:
https://github.com/helm/charts/blob/master/stable/nginx-ingress/templates/controller-deployment.yaml
https://github.com/helm/charts/blob/master/stable/artifactory/templates/nginx-deployment.yaml
https://github.com/helm/charts/blob/master/stable/mysql/templates/deployment.yaml
https://github.com/helm/charts/blob/master/

[2018-08-15 11:40] ssro commented on #83
@subinmt modify your deployment and add:
[code]
The important part is `serviceAccount: chaoskube`

HTH

[2018-08-15 14:08] linki commented on #99
right, but many are also hard-coded to `apps/v1`.

I think we can to the same thing as is done here:
https://github.com/helm/charts/blob/9b98e81d525c62ca7178d4e0229f29a2e067c4c0/stable/traefik/templates/deployment.yaml#L1-L5

I'll open a PR when I've got a little time. But feel free to do it yourself if you want.

[2018-08-15 14:26] shaikatz commented on #99
Sounds like a good option.
Opened a PR for that: https://github.com/helm/charts/pull/7195

Thanks!

[2018-08-20 14:28] #99 closed

[2018-08-23 07:36] shaikatz opened #100 "Use version 0.10.0 + add minimum age to the chart"
Opened a PR in the helm charts repos to add support for minimum age and use version 0.10.0.

https://github.com/helm/charts/pull/7289

[2018-08-27 14:42] shaikatz opened #101 "Adding slack notifications"
Hi,

I'm looking for a way to notify my team every-time the chaos bot started to perform actions.
As Slack usage is widely used, that will be my preference.

I want to start and implement that capability for chaoskube.

Any thoughts?

[2018-08-27 14:43] shaikatz commented on #101
I'll add that with the current codebase there is no way to know that we've "entered" a chaos period (a period with no exclusions) or "exit" (a period that excluded).
The only way to understand that as I see it, is to check if the previous interval was in exclusion time.

[2018-08-27 16:43] linki commented on #101
Could we add a prometheus metric for that?

I often saw some "binary" metrics that you are supposed to "query" via labels and then either return 0 or 1, e.g.
[code]

We could expose something similar for chaoskube, e.g.
[code]

It's not comparable to a notification but at least you would have a structured way to find out whether chaoskube is in an active period right now.

[2018-08-27 17:14] shaikatz commented on #101
We can definitely add a prometheus metric for that, but that would serve us for alert and monitoring.

I would still like to make a slack notification for that, so the team will be actively aware when a chaos is running, and be prepared if action is required.

Do you prefer to avoid adding slack capabilities to this tool?

[2018-08-28 10:56] #100 closed

[2018-09-05 11:37] ljanatka opened #103 "Does chaoskube really kill the pods?"
Hi Martin,

I am currently working on a project where we are trying to improve reliability of our software via using chaos engineering (but, unfortunately, have a very little experience with it). Currently, our software runs on Azure/Kubernetes.

We found chaoskube as a promising tool to help us, but we found out, that it's behavior is different than expected. In the description of chaoskube, ther

[2018-09-10 12:15] subinmt commented on #83
@ssro I tried with your entries, but the chaoskube still not working in my K8s cluster. Anyone please help

[2018-09-17 10:51] manuprometheus opened #106 "ChaosKube doesn´t working."
Hi Guys,

I have created Kops Cluster using the following commands(Cluster Level rbac not enabled yet). But chaoskube doesn´t kill any pods. Please help me if anything wrong.

+++++++++++
kops create cluster --cloud "gce"  --name test.k8s.local  --zones=us-east1-b   --master-zones=us-east1-b     --state gs://testbucket --master-size  n1-standard-2  --node-size n1-standard-4   --node-count 1  --adm

[2018-09-17 21:57] linki commented on #106
The example excludes many pods from being killed. Have a look at the docs for the `--exlude-*` fals for instance. You need to run chaoskube with no filters. Have a look here: https://github.com/linki/chaoskube/issues/83#issuecomment-405714996

[2018-09-17 22:00] linki commented on #98
done

[2018-09-17 22:00] #98 closed

[2018-09-17 22:01] linki commented on #85
Docs were added in https://github.com/linki/chaoskube/commit/9bfe7276ccc81437200aa04f4c2fe63955c603c8

[2018-09-17 22:01] #85 closed

[2018-09-18 15:28] manuprometheus commented on #106
@linki After commented all exclude parameters, the chaoskube working on my cluster.

[2018-09-18 20:52] linki commented on #106
@manuprometheus cool 👍 I'm closing this then.

[2018-09-18 20:52] #106 closed

[2018-09-26 10:21] palmerabollo opened #109 "Is it possible to ignore pods by annotations?"
It is possible to negate an annotation?

For example

[code]

[2018-09-26 10:53] palmerabollo commented on #103
This is a very good question. I also assumed that chaoskube was killing the pods. I think killing a pod instead of terminating it is be the best option, because "graceful shutdowns" rarely happen on production environments :)

Would it be possible to at least include a flag to choose the behaviour you want (kill vs terminate)?

[2018-09-27 06:18] palmerabollo commented on #101
I often use alertmanager to send notifications to different channels, including Slack. With this approach, a Prometheus metric is enough and there is a clear separation of responsibilities.

[2018-09-27 20:29] linki commented on #80
This is implemented in https://github.com/linki/chaoskube/pull/110

[2018-09-28 06:28] #109 closed

[2018-09-30 17:03] dankohn commented on #27
Please create a logo and I will add you to https://landscape.cncf.io/grouping=landscape&landscape=chaos-engineering

[2018-10-01 09:19] linki commented on #27
@dankohn I'll try 😄

[2018-10-09 13:55] ljanatka opened #111 "Selection of pods to be terminated by using multiple labels is not working for me"
Hi Martin,

I am struggling with multiple labels. I need to select pods for termination using labels (one key with multiple values). If there is only one value, everything works fine. When there are multiple values, the chaoskube runs (in dry mode), there is no error output, but there is also no log about killing the pods. I tried following syntax of "labels" line of yaml file:
- --labels=app=xxx,

[2018-10-09 14:51] #80 closed

[2018-10-22 06:52] ljanatka commented on #103
@linki the #104 pull request seems to be marked as failing in CI build ...

[2018-10-22 11:53] linki commented on #111
Hi @ljanatka,

the label selector logic is the same as in Kubernetes. That means if you provide multiple label conditions *all* of them must match.

In general, whatever [Kubernetes label selectors](https://kubernetes.io/docs/concepts/overview/working-with-objects/labels/) can do you can do with `chaoskube`.

In order to achieve what you describe you can use the `in` operator:
[code]

Another appr

[2018-10-22 13:12] ljanatka commented on #111
Hi @linki,

thanks, that works like a charm!

Have a great day!

[2018-10-22 13:12] #111 closed

[2018-10-22 22:02] linki commented on #103
@ljanatka I just fixed it in case you want to give it a try again.

[2018-11-19 08:12] ljanatka commented on #103
@linki Hi, we finally got to give it a try.
As far as I know, it works quite well. The pod gets killed from the inside, the cluster detects this and restarts it (restart counter of given pod increases, new instance of the pod is not being created).

[2019-01-14 09:50] ljanatka commented on #103
@linki Hi, was my test enough to merge this "hardkill" feature into new version of chaoskube? When do You expect the new version to be released?
Thanks!

[2019-01-14 13:21] linki commented on #103
@ljanatka I'm not sure. I want to refactor it a bit before merging and I have a [work-in-progress branch](https://github.com/linki/chaoskube/compare/jake-exec-refactor?expand=1) for it.

@jakewins [has a fork of chaoskube](https://github.com/neo-technology/marmoset) where this is merged. You could try using it in the meantime.

[2019-01-20 12:46] linki commented on #27
@dankohn chaoskube has a logo now: https://github.com/linki/chaoskube/blob/master/chaoskube.png

[2019-01-20 12:49] dankohn commented on #27
That's great, but we need an SVG, AI, or EPS. Could you please upload the original of the logo to the repo or zip it and attach here.

[2019-01-20 13:39] dankohn commented on #27
That EPS relies on the font `Graebenbach-BlackItalic` which I don't have, so I can't complete the conversion. When CNCF's graphic designer comes back on Tuesday, she'll convert it to an SVG that doesn't need a font and I'll upload.

[2019-01-21 10:19] linki commented on #27
Thank you.

[2019-01-21 15:21] dankohn commented on #27
And here you go:
https://landscape.cncf.io/category=chaos-engineering&grouping=category&selected=chaoskube

I presumed that it should go in a new chaoskube organization because the
trademark is not owned by Zalando.

I would also encourage you to create a Twitter account for chaoskube that
you post to at least once a month. You can then open a PR with the handle
or just add the info here and I'll

[2019-01-21 23:01] linki commented on #27
Thanks a lot!

[2019-01-23 10:32] #27 closed

[2019-01-23 17:50] dankohn commented on #27
Now featuring your Twitter: https://landscape.cncf.io/category=chaos-engineering&grouping=category&selected=chaoskube

[2019-01-24 19:44] linki commented on #27
Thanks again! :blush:

[2019-02-18 12:13] ljanatka commented on #103
Hi @linki

from the release notes it seems that chaoskube now can "hardkill" the pods. However I did not find any switch that would activate this feature. Or is the hardkill now implemented as default kill method?

Thanks!

[2019-05-28 10:03] linki commented on #103
Hi @ljanatka,

https://github.com/linki/chaoskube/releases/tag/v0.12.1 extracted the current strategy into a separate object behind an interface in order to make it easier to add more ways to terminate a pods.

The actual ["termination-by-kill"](https://github.com/jakewins/chaoskube/blob/82fac7dd37d4e22753d099e7809ec66ab025d9d1/chaoskube/action.go#L68-L105) termination strategy [from the original

[2019-05-28 10:05] linki commented on #83
@subinmt Could you make it work in your cluster?

[2019-05-28 10:08] linki commented on #38
@pswenson Could you make it work in your cluster by now?

[2019-05-28 10:11] linki opened #123 "Don't try to kill Pods that are not Running"
Similar to https://github.com/linki/chaoskube/issues/78 and https://github.com/zalando-incubator/cluster-lifecycle-manager/blob/8042e37ad3fb482879112e8bc6d095c01ff2ef7c/pkg/updatestrategy/node_pool_manager.go#L486-L489 we should avoid trying to kill pods that aren't running.

[2019-05-28 10:14] linki commented on #123
Already done in https://github.com/linki/chaoskube/pull/84

[2019-05-28 10:14] #123 closed

[2019-06-20 14:40] bliemli opened #128 "Lifecycle with release tags"
We would like to automatically pull the latest stable release as soon as it is released instead of updating the tag manually. Is using the `latest` or `master` image tag safe to do so? Or would it be possible for you to tag the latest stable release accordingly with e.g. `stable` or `release`?

[2019-06-24 17:07] linki commented on #128
You can use `latest` or `master` to get the image corresponding to the current master branch. But it might be buggy. Would that work for you?

[2019-06-24 17:09] linki commented on #128
Otherwise we could think about adding another branch (release or stable) which points to the latest tagged version. Building on quay should work fine but setting the branch would be another manual step for each each release.

[2019-06-27 10:52] bliemli commented on #128
Buggy won't work for us as we're using chaoskube in a production setup.

A colleague of mine just pointed me towards a project of his on GitHub where he's using travis ci and a python script to automate building and tagging container images. See https://github.com/dtschan/base-image-security, especially `travis.yml` and `update_docker_images.py`. Maybe something like this could be of help?

[2019-07-25 15:44] linki commented on #83
Closing. @subinmt let me know if you need any additional help.

[2019-07-25 15:44] #83 closed

[2019-07-25 15:44] linki commented on #38
Closing. @pswenson let me know if you need any additional help.

[2019-07-25 15:44] #38 closed

[2019-07-25 15:49] linki opened #132 "Probes should fail when chaoskube misses RBAC permissions"
See https://github.com/linki/chaoskube/issues/75

If chaoskube has trouble talking to Kubernetes (during runtime) it should be detectable either via readiness/healthiness probes or via metrics.

[2019-07-25 15:50] linki commented on #75
Created a dedicated issue for the readiness probe: https://github.com/linki/chaoskube/issues/132

Avoiding global permissions is tracked here: https://github.com/linki/chaoskube/issues/92

[2019-07-25 15:50] #75 closed

[2019-08-08 16:32] nipuns11 opened #136 "Cannot set multiple days in excluded Weekdays"
$ helm install stable/chaoskube --set dryRun=false --set namespaces=test --set interval=10m --set timezone=America/New_York --set excludedWeekdays="Mon,Wed,Thu,Fri" --set excludedTimesOfDay="08:00-18:00"

**Error: failed parsing --set data: key "Wed" has no value (cannot end with ,)**

Cannot set multiple days in excluded Weekdays

[2019-08-08 19:40] linki opened #137 "chaoskube fails when starting with read-only filesystem"
[code]

That's a regression. I though the switch to `klog` removes the need to rewrite the import. Seems like `klog` writes to disk like `glog`.

version: `v0.15.0` with

[code]

[2019-08-08 20:09] linki commented on #136
@nipuns11 Yeah, that's a bit annoying. The reason is that `--set` can take multiple key/value pairs at once and in order to separate them it uses the comma. [See that example for instance](https://github.com/helm/helm/blob/v2.14.3/docs/using_helm.md#the-format-and-limitations-of---set):

That makes the comma a reserved character within `--set` values so that you need to escape it.

The following w

[2019-08-08 20:11] nipuns11 commented on #136
Thanks :-)

[2019-08-08 20:11] #136 closed

[2019-08-14 09:37] #137 closed

[2019-08-20 12:33] linki opened #146 "Add a makefile to run tests and build more easily"
Currently one has to run `go test ./...` and `go build main.go` to test and build the binary.

To make it easier for people cloning/forking this repository we should add a simple Makefile to run these tasks.

[2019-09-26 15:03] mblaschke opened #150 "Add killed pod metric"
It would be nice to have a metric which pod has been killed with labels like `namespace` and `pod` (name of pod).

So teams can have a easy monitoring for their killed pods.

[2019-09-27 09:24] linki commented on #150
@mblaschke Do you have a proposal how this metric could look like in prometheus format?

[2019-10-22 21:24] pims opened #152 "Terminating multiple pods per run"
Hi!

I am testing ChaosKube on k8s cluster with a large number of pods. The current approach of terminating only one pod per run means that some pods will not be scheduled for termination, given how large the pool is.

Would you be interested in a PR that adds a new configuration option (defaults to 1, current behavior) to override the current behavior?

Something like `--max-kill=10`, would attem

[2019-11-05 21:59] pims opened #155 "Add k8s event to the resource owning the pod(s) being terminated."
Hi @linki,

Thoughts on also adding the termination event to the top most _owner_ of a pod in addition to the pod itself?

We're attempting to add visibility for application owners when their pods get terminated – and new pods are starting. The terminated pods _kind of disappear_ from the current view of the deployment, which adds a bit of work to find if any pod has been terminated through ChaosK

[2019-11-07 16:16] linki opened #157 "Consider changing contructor parameters to a struct"
The number of arguments for `Chaoskube.New()` has increased to a point where it becomes annoying to use.

We could switch to a struct to have order-independent arguments by Name. It would also allow us to leave out keys when we want the default value.

[2019-11-07 17:09] linki commented on #155
Hi @pims,

that sounds very useful to me.

What about duplicated events in this case? When I'm doing `kubectl get events -w` would the event show up twice (for the Pod and the Deployment)? Does it make sense to drop the event on the Pod? Do you know how other Kubernetes components deal with this?

[2019-11-07 22:15] pims commented on #157
What are your thoughts on [functional options](https://dave.cheney.net/2014/10/17/functional-options-for-friendly-apis)?

[2019-11-07 22:15] #152 closed

[2019-11-07 22:19] pims commented on #155
I need to do some more research on how other project implement this kind of functionality.
I’d like to avoid duplicate events if possible, but I didn't want to introduce breaking changes.

My guess is that most of the complexity comes from navigating the tree of owners.
I'll work on a PoC and we can continue the design discussion in that PR.

[2019-11-08 10:18] linki commented on #157
I'm not a big fan of them but I also don't have much experience with them.

From your linked article they provide exactly what I would like so I wouldn't mind giving it a try here.

[2019-11-08 10:23] linki commented on #155
Sounds good!

[2019-11-11 17:57] pims commented on #155
After prototyping a solution to this, I am no longer convinced this is a good idea.
It drastically extends the permissions granted to Chaoskube and is somewhat convoluted code.

One alternative would be to add annotations on the pod itself that points to any resource that should be notified.

[2019-11-12 14:28] linki commented on #155
Do you mean that in order to reach a Pod's Deployment you have to read the owning ReplicaSet to get its owner?

How about adding the event only on the direct owner for now?

[2019-11-12 17:32] pims commented on #155
Yes, which requires doing a Get on the parent and possibly on the parent's parent.

That'd be easier, but in the case of a Deployment, I'm not sure how useful it is to add an event to the ReplicaSet controlling the current deployment.

What do you think?

[2019-11-19 02:20] xingyuli opened #159 "how to turn off the dry-run mode"
As the README documented, chaoskube default to run in the dry-run mode, that's okay, and the actual behavior align with that. After I confirmed the targets, and want to turn-off the dry-run mode, I failed. The README only mentioned users can turn off that, wondering the way to do it.

![image](https://user-images.githubusercontent.com/3337431/69110379-8c741e80-0ab5-11ea-9e92-23bb939f8415.png)

PS:

[2019-11-19 23:25] linki commented on #159
@xingyuli You can use `--no-dry-run` to turn it off.

For an example, see [here](https://github.com/linki/chaoskube/blob/v0.16.0/examples/chaoskube.yaml#L42).

[2019-11-20 02:50] xingyuli commented on #159
Yeah, it works! Maybe you could mention this either in the README or enhance the `--help` guide.

[2019-11-27 11:00] linki commented on #159
Good idea. Fixed in https://github.com/linki/chaoskube/commit/e9dfc0335b7f7303871b85a486b79fce5a5bdd49.

[2019-11-27 11:05] #159 closed

[2019-11-27 22:37] solarmosaic-kflorence opened #160 "Docs reference a binary, but instruct helm installation"
Hey, thanks for this useful tool. The documentation has me confused, as it instructs installation via a helm deployment (which is cool), but 90% of the documentation references a binary (`chaoskube`) but there isn't any documentation on how to get access to that binary. Am I supposed to clone repository this and put something in my PATH? Am I expected to create a local binary which runs this tool

[2019-11-27 23:00] linki commented on #160
Hi @solarmosaic-kflorence,

you're right, that must be confusing. Indeed, when mentioning `chaoskube` like that it means "any binary however you obtain it" which is not very nice.

At the moment this repository doesn't provide any pre-built binaries so you have to build it yourself by cloning and then doing a `go install` or `go run main.go`.

As this project is mainly intended to run inside your

[2019-11-27 23:13] solarmosaic-kflorence commented on #160
@linki thanks for the quick reply, I think perhaps just some extra context in the README would suffice -- i wasn't sure in which context the binary was being used. I think it is useful to use the binary locally for testing, in a remote environment it seems better to just use the helm deployment or the docker image.

[2019-11-29 09:01] WtfJoke opened #161 "Follow Logs doesnt work on new install using Helm Chart"
Hi there,

If you install chaoskube by helm using `helm install stable/chaoskube` the displayed command to follow the pods log doesn't work:

[code]

If you execute it, following error happens:
[code]

Problem is the label
`-l='app.kubernetes.io/instance=khaki-pika-chaoskube'`
which should be just
`-l='app.kubernetes.io/instance=khaki-pika`

Origin in [Notes.txt](https://github.com/helm/charts/blo

[2019-11-29 16:01] linki commented on #161
@WtfJoke Thanks! A PR would be very welcomed.

[2019-12-02 10:54] dhpizza commented on #160
Hi,
had the same question, thanks for the info 👍
When doing a `go install` though a lot of additional packages are needed.
Running a `go get ...` for each of the needed packages helped. In case somebody comes across that issue as well...

[2019-12-04 22:49] WtfJoke commented on #161
Fixed by https://github.com/helm/charts/pull/19321

[2019-12-04 22:49] #161 closed

[2019-12-05 10:50] linki commented on #161
@WtfJoke Thank you!

[2019-12-05 16:32] WtfJoke commented on #161
Thank you too, for reviewing and merging 👍 :)

[2020-02-04 15:13] desponda opened #172 "Consider adding jitter to the intervals"
To add some randomness to the termination of pods it would be useful to add some jitter to the ticker, I am working on a PR for this functionality

[2020-02-18 00:11] tonyairwallex opened #178 "--excluded-times-of-day ignored the seconds, which causes unexpected killing"
I set the excluded time as:
0:00-13:59,16:00-23:59

Expected:
Run during 14:00:00 to 15:59:59

Actual result:
Killing executed at:13:59:27 and 23:59:27, which are UNEXPECTED.
More importantly, I cannot work out how to remove the potential 23:59:xx execution.

1. seconds doesn't work:
--excluded-times-of-day 16:00:00-23:59:59
It failed to run as the parameter only support minutes input.

2. trying

[2020-02-18 16:14] linki commented on #178
If I remember correctly the flag supports wrapping around. You could try `--excluded-times-of-day=16:00-14:00`. This should lead to an active period of `14:00:01-15:59:59`.

[2020-02-18 22:27] tonyairwallex commented on #178
Thanks @linki
This part is not a big problem, as I mentioned above, the execution on 23:59:27 is a more concerning / unplanned killing far away from my monitoring period.

[2020-02-21 10:38] linki commented on #178
@tonyairwallex I understand.

If we assume that seconds default to `00` then this is the expected behaviour. But I agree there's no indication that this is actually happening.

We could either fail when users specify seconds specifically or somehow parse and support it: We would need to default it to `59` when it's the end of an interval and `00` when it's the beginning of an interval.

[2020-02-23 22:21] tonyairwallex commented on #178
@linki Exactly! I like the solution you proposed ~

[2020-03-09 14:29] przemolb opened #182 "Add an example how to install and operate chaoskube in particular namespace"
Hello,

I'd like to install chaoskube in particular namespace and give it a right to kill pods only in this namespace. Do you have an example (deployment + RBAC) for that ?

[2020-03-12 18:13] linki commented on #182
Hi @przemolb,

This is currently not fully working.`chaoskube` needs to have at least "read pods" access to all namespaces due to the way it's currently implemented. It won't read or touch anything in other namespaces but if you don't grant permission it will fail.

Please follow https://github.com/linki/chaoskube/issues/92 for a fully working solution.

The current way to do it is the following:

[2020-03-16 08:54] dependabot-preview[bot] opened #183 "Dependabot can't parse your go.mod"
Dependabot couldn't parse the go.mod found at `/go.mod`.

The error Dependabot encountered was:

[code]

[View the update logs](https://app.dependabot.com/accounts/linki/update-logs/26411042).

[2020-03-18 21:22] #183 closed

[2020-04-15 15:56] HaveFun83 opened #197 "chaoskube always kills the same pod"
Hi

currently upgrading from v0.15.1 to v0.19.0
[code]
and now always `redis-demo-slave-0` will be killed no random pod

[code]
before upgrade chaoskube kills on of the `redis-demo-slave` pods randomly.

any ideas?

tia

[2020-04-17 08:28] linki commented on #197
@HaveFun83 Interesting :thinking:

Please run it with `--debug` which gives us some more information if it even has more candidates to pick from. It'll also show us the values of all flags.

[2020-04-17 11:04] HaveFun83 commented on #197
Log with from working v0.15.1
[code]

Log from not working v0.19.0
[code]

[2020-04-17 13:46] linki commented on #197
I think the reason is [this](https://github.com/linki/chaoskube/blob/4fc706efe1a3dc80c89ca333840ac072e6177f8c/chaoskube/chaoskube.go#L444-L464).

This was done to prevent killing pods from the same replication group, such as Deployment, StatefulSet and so on. It's only needed when `--max-kill` is more than 1.

However, looking at the implementation it looks like it always picks the first pod from

[2020-04-27 12:27] ravikumar2000 commented on #197
Even chaoskube is restarting an not killing nay pods
Please find the logs
root@kmaster:~# helm install stable/chaoskube --generate-name
NAME: chaoskube-1587990114
LAST DEPLOYED: Mon Apr 27 17:51:58 2020
NAMESPACE: default
STATUS: deployed
REVISION: 1
TEST SUITE: None
NOTES:
chaoskube is running and will kill arbitrary pods every 10m.

You can follow the logs to see what chaoskube does:

    POD=$(

[2020-04-27 12:28] ravikumar2000 commented on #197
Every 2.0s: kubectl get deployments,pods --all-namespaces                                                               kmaster: Mon Apr 27 17:58:26 2020

NAMESPACE     NAME                                   READY   UP-TO-DATE   AVAILABLE   AGE
default       deployment.apps/apache                 0/1     1            0           2d7h
default       deployment.apps/chaoskube-1587990114   0/1     1

[2020-04-27 12:32] ravikumar2000 opened #202 "chaoskube is restarting with status as Running and crashLoopBackoff"
Every 2.0s: kubectl get deployments,pods --all-namespaces                                                               kmaster: Mon Apr 27 17:58:26 2020

NAMESPACE     NAME                                   READY   UP-TO-DATE   AVAILABLE   AGE
default       deployment.apps/apache                 0/1     1            0           2d7h
default       deployment.apps/chaoskube-1587990114   0/1     1

[2020-04-29 08:15] linki commented on #202
Please let me know your output of `kubectl version` and `kubectl -n default logs -f $POD`. Try running chaoskube with the `--debug` flag as well.

[2020-04-29 09:18] ravikumar2000 commented on #202
Hi ,
Please find the details
root@kmaster:~# kubectl version
Client Version: version.Info{Major:"1", Minor:"18", GitVersion:"v1.18.2", GitCommit:"52c56ce7a8272c798dbc29846288d7cd9fbae032", GitTreeState:"clean", BuildDate:"2020-04-16T11:56:40Z", GoVersion:"go1.13.9", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"18", GitVersion:"v1.18.2", GitCommit:"52c56ce7a

[2020-04-29 10:17] linki commented on #202
Please make sure you have permission to read the logs. Currently you get:
[code]

Please set the `--debug` flag on chaoskube, not on helm itself, with:
[code]

[2020-04-29 11:02] ravikumar2000 commented on #202
I am getting below issues
root@kmaster:~# helm install chaoskube stable/chaoskube -n chaoskube --set dryRun=false --set namespaces='!kube-system' --set labels=app-purpose=chaos --set interval=20s --debug=true
install.go:159: [debug] Original chart version: ""
install.go:176: [debug] CHART PATH: /root/.cache/helm/repository/chaoskube-3.1.4.tgz

Error: cannot re-use a name that is still in use
helm.

[2020-04-29 11:09] ravikumar2000 commented on #202
If i set debug =true also not getting any logs
root@kmaster:~# helm install chaoskube stable/chaoskube -n chaoskube --set dryRun=false --set namespaces='!kube-system' --set labels=app-purpose=chaos --set interval=20s --set debug=true
NAME: chaoskube
LAST DEPLOYED: Wed Apr 29 16:38:43 2020
NAMESPACE: chaoskube
STATUS: deployed
REVISION: 1
TEST SUITE: None
NOTES:
chaoskube is running and will kill a

[2020-04-29 11:14] ravikumar2000 commented on #202
Can i try in minikube server with chaoskube
Please let me know the steps if you have handy

[2020-04-29 16:25] ravikumar2000 commented on #202
I restarted kubectl and daemon services and tried still getting this issues unable to get pod detsila chaoskube is restarting not killing pods

namespace/chaoskube created
root@kmaster:~# helm install chaoskube stable/chaoskube -n chaoskube --set dryRun=false --set namespaces='!kube-system' --set labels=app-purpose=chaos --set interval=20s --set debug=true
NAME: chaoskube
LAST DEPLOYED: Wed Apr 29

[2020-04-29 16:28] ravikumar2000 commented on #202
I ran with chaoskube01 & below are the details
 with debug
root@kmaster:~# helm install chaoskube01 stable/chaoskube -n chaoskube --set dryRun=false --set namespaces='!kube-system' --set labels=app-purpose=chaos --set interval=20s --debug
install.go:159: [debug] Original chart version: ""
install.go:176: [debug] CHART PATH: /root/.cache/helm/repository/chaoskube-3.1.4.tgz

client.go:108: [debug] c

[2020-05-02 14:01] linki commented on #197
Fixed in https://github.com/linki/chaoskube/pull/203.

Thanks @HaveFun83 for reporting this.

[2020-05-05 15:46] linki commented on #202
Please capture the logs of chaoskube so we can see what's going wrong:
[code]

Just use `kubectl get pods --all-namespaces | grep chaos` to find it.

[2020-05-06 04:04] ravikumar2000 commented on #202
Getting timeout issues
-bash-4.2$ kubectl get deployments,pods --all-namespaces
NAMESPACE     NAME                                         DESIRED   CURRENT   UP-TO-DATE   AVAILABLE   AGE
chaoskube     deployment.extensions/chaoskube              1         1         1            0           39h
default       deployment.extensions/nginx-shabeer          2         2         2            2

[2020-05-11 04:38] ravikumar2000 commented on #202
Hi Martin,

I have deleted chaoskube pod and started running & observing forbidden.
Please find the logs
-bash-4.2$ kubectl logs -f chaoskube-7dcc48947b-w7fls -n chaoskube
time="2020-05-11T04:34:13Z" level=info msg="starting up" dryRun=false interval=20s version=v0.14.0
time="2020-05-11T04:34:13Z" level=info msg="connected to cluster" master="https://10.96.0.1:443" serverVersion=v1.12.10+1.0.11.el

[2020-05-11 04:54] ravikumar2000 commented on #202
Hi Martin,

Chaoskube is not killing random pods. Appreciate your help on this..

Regards,
Ravi

[2020-05-12 12:18] linki commented on #202
It doesn't have permission to connect to the Kubernetes API.

Install your Helm chart with ` --set rbac.create=true` in order to create and use a ServiceAccount that has permissions to list and delete pods.

[2020-05-12 14:57] ravikumar2000 commented on #202
Hi Martin,

After updating rbac.create =true
I am getting unexpected EOF issues still pod is running
-bash-4.2$ helm install stable/chaoskube --set rbac.create=true --generate-name
NAME: chaoskube-1589295169
LAST DEPLOYED: Tue May 12 07:52:52 2020
NAMESPACE: default
STATUS: deployed
REVISION: 1
TEST SUITE: None
NOTES:
chaoskube is running and will kill arbitrary pods every 10m.

You can follow the

[2020-05-12 15:44] ravikumar2000 commented on #202
Hi Martin,

I am getting only the messages for terminating but it is not actually killing the pods
-bash-4.2$ kubectl get pods --all-namespaces | grep chaos
chaoskube     chaoskube-844c5874bc-knxzx             1/1     Running            0          6h5m
default       chaoskube-1589295169-c5bb5b85-h9kqw    1/1     Running            0          7m20s
litmus        chaos-operator-ce-559656f698-v7ppg

[2020-05-12 16:00] linki commented on #202
Because you re-enabled dry-run mode:
[code]

Make sure to use `--set dryRun=false` like you did before.

[2020-05-19 23:01] 2020testuser opened #213 "Install in my namespace"
Hi,
Could anyone please provide details on how I can install chaoskube in my own namespace using a docker image and how I can kill pods in my namespace for every 15 mins. except chaoskube pod?

Note: I'm not an admin user in Kubernetes and I want to test my application pods in my namespace only.
I don't want to use Helm and want to use the chaoskube docker image , so I can deploy in my pod within

[2020-05-20 15:57] linki commented on #213
There's an example manifest in the examples folder: https://github.com/linki/chaoskube/tree/master/examples

This should give you a good start but it does need global read access to pods. This is explained in more detail here: https://github.com/linki/chaoskube/issues/182#issuecomment-598343811

[code]

[2020-05-20 17:20] 2020testuser commented on #213
@linki - Thanks Much! I will change the parms and use the above. This helps.

[2020-05-20 21:31] 2020testuser commented on #213
@linki - I tried the above. I have in my namespace (test-ns) both chaoskube pod and my application pods ( 5 pods totally).  No pods are getting killed in my namespace and I see the below error in my log.
Could you please let me know why I'm getting this error? Thanks!
===================
`time="xxxx" level=info msg="starting up" dryRun=false interval=10m0s version=v0.19.0
W0520 xxxx       6 client

[2020-05-21 16:30] 2020testuser commented on #213
@linki - Any info. on the above issue? I'm stuck with this issue now and unable to move forward.
Any help would be very useful.

[2020-05-21 21:30] linki commented on #213
You need to setup an RBAC "ClusterRole" and "ClusterRoleBinding" to allow the ServiceAccount that chaoskube uses to list Pods at the cluster scope.

First of all make sure chaoskube uses the correct ServiceAccount. From the logs your chaoskube is using the "default" ServiceAccount in the "test-ns" namespace. This is different from my example.

Then you need to carefully check whether you have the

[2020-05-21 21:57] 2020testuser opened #217 "Dashboard/Metrics info documentation"
Hi,
I'm looking for documentation to view the chaos pod delete report either in text form or in a dashboard/metrics form. Could you please let me know what args I need to pass and how to use it? Thanks!

[2020-05-21 22:07] linki commented on #217
There's a counter of the number of deleted pods exposed via Prometheus under `http://localhost:8080/metrics` by default.

The metric is called `chaoskube_pods_deleted_total`.

You can find other metrics listed [here](https://github.com/linki/chaoskube/blob/master/metrics/metrics.go#L9-L32).

[2020-05-22 03:10] 2020testuser commented on #217
@linki - Thanks!
I've chaoskube deployed using your sample Deployment (with some tweaks)  in my Kubernetes cluster. Could you please let me know how I can see the metrics?

In your url - http://localhost:8080/metrics, I replaced localhost with my <hostName> and it didn't display the metrics. Do I need to perform any additional step? Sorry. I'm using chaoskube for the first time and so not clear. T

[2020-05-22 03:12] 2020testuser commented on #213
@linki - Thanks! I got it working by running as admin user.I will retry with ordinary user again.Will check the serviceaccount.

[2020-05-22 06:01] 2020testuser opened #218 "Using curl command"
Hi,
Could you please let me know whether I can use a curl command to execute chaoskube ?
Ex is below.
I'm calling chaoskube in my chaos script and so using curl cmd would be easy.
`
curl -X POST -H 'Content-Type: application/json'
                         -d '{"token":"mytoken","url":"https://<hostname>:portno",
                          "interval":10,
                         "namespaces":"my-nam

[2020-05-25 22:05] linki commented on #213
@2020testuser Cool. I'm glad it worked.

[2020-05-25 22:06] linki commented on #217
No, if you use the Pod IP instead of localhost it should show you something.

[2020-05-25 22:07] linki commented on #217
Where do you run the curl command from?

[2020-05-25 22:10] linki commented on #218
Can you explain a little more what you are doing?

[2020-06-01 06:32] 2020testuser commented on #217
Thanks Much!
I want to run the curl command from my script which I use for chaos test.
Basically, I want to use the curl command to start chaoskube and pass the arguments to kill the pods.
It would be very helpful if you could provide details.

Thanks!

[2020-06-01 06:41] 2020testuser commented on #218
@linki - Thanks!
I want to use the curl command to start chaoskube  (from my startup script) and pass the arguments for it from within the startup script of my application test file.

Please let me know whether using a curl command to start chaoskube to kill pods is possible. Thanks in advance.

[2020-06-02 14:16] 2020testuser commented on #218
@linki - Could you please let me know whether the above is possible? If you need more information, please let me know.
Thanks!

[2020-06-05 14:07] linki commented on #218
Currently chaoskube doesn't have an HTTP endpoint which you can use to trigger a termination. So from what I understand your use case is not supported.

However, if you have access to the target cluster you could just **start** chaoskube which then executes the terminations as usual. You could use `curl` to schedule the Pod in the Kubernetes cluster using HTTP.

If that would work for you we'd nee

[2020-06-08 18:17] 2020testuser commented on #218
@linki - Thanks Much! Will close this issue.

[2020-06-08 18:17] #218 closed

[2020-07-03 16:25] linki commented on #197
This is fixed in version [v0.20.0](https://github.com/linki/chaoskube/releases/tag/v0.20.0).

[2020-07-03 16:25] #197 closed

[2020-07-10 15:19] hairyhenderson opened #237 "Node termination support?"
I'm wondering if it'd be appropriate to extend chaoskube to support terminating nodes as well as pods?

I think outright terminating VMs is probably definitely outside the scope of what this project wants to do (it feels better to keep it cloud-agnostic), but it may be useful to randomly cordon & drain nodes. If the Cluster Autoscaler is also being used, it will take care of terminating the empty

[2020-08-12 14:20] linki opened #241 "Add support for terminating multiple pods within a topology"
In order to simulate an outage of an entire node or availability zone, we could add some kind of selection based on topology keys.

For instance, starting chaoskube with

[code]

Could batch-kill all pods within a single zone per iteration.

Similarly,

[code]

would batch-kill all Pods of a single node or region, respectively.

Combined with the already existing `--max-kill` flag (default 1) one

[2020-09-07 15:17] el10savio commented on #146
I had a stab at adding the two targets to the makefile :)
https://github.com/linki/chaoskube/pull/248

[2020-09-28 13:50] 8160960572 opened #257 "kinds argument available?"
I have deployed helm chart 3.2.1. Image version: quay.io/linki/chaoskube:v0.14.0

bash-4.2# helm ls
NAME            NAMESPACE       REVISION        UPDATED                                 STATUS          CHART           APP VERSION
chaoskube       default         1               2020-09-28 19:00:20.913123219 +0530 IST deployed        chaoskube-3.2.1 0.14.0

I see kinds not available in values.yaml

[2020-09-28 17:04] linki commented on #257
Yes, I just released `v0.21.0` which contains the new `--kinds` flag.

Please use image `quay.io/linki/chaoskube:v0.21.0`.

[2020-10-01 22:42] linki commented on #146
@el10savio Thanks a lot! 😃

[2020-10-01 22:42] #146 closed

[2020-10-07 15:24] #257 closed

[2020-10-26 13:35] linki opened #271 "Add flag to stop chaoskube after a given time"
Let's add a flag `--max-runtime` (or similar) after which chaoskube shuts itself down gracefully. This can be used in combination with a Kubernetes Job to execute some chaoskube for a limited amount of some time. This could be used when there's some sort of robustness test in a deployment pipeline of another component and one wants to introduce some failures during that test.

[2020-10-26 13:38] linki commented on #44
This has been merged in https://github.com/linki/chaoskube/pull/134

[2020-10-26 13:38] #44 closed

[2020-12-07 08:43] maurizio-lattuada opened #275 "Helm chart on Kubeapps is not available"
In `README.md` is suggested to download Chaoskube's Helm chart from [Kubeapps](https://hub.kubeapps.com/charts/stable/chaoskube). Unfortunately, the chart there cannot be found: the HTTP GET https://hub.kubeapps.com/api/chartsvc/v1/charts/stable/chaoskube returns a 404 there.

Would it be possible for you to check whether the Helm chart is still published there? The old repository https://github.c

[2020-12-09 18:04] Perfect-Web commented on #275
same here. also any helm 3 version ?

[2020-12-21 17:40] javajon commented on #275
This [Katacoda scenario that teaches chaoskube](https://katacoda.com/javajon/courses/kubernetes-chaos/chaoskube) relies on the Helm chart. The scenario will be updated/fixed once new chart location is made available.

[2021-01-05 12:03] ghouscht commented on #275
Unfortunately I've the same issue here. Probably submitting the chart to the kuebapps Hub would be a good idea. I can help out with this if there is something missing which is "required" by the [best practices](https://hub.kubeapps.com/submit-repository) of kubeapps Hub.

[2021-01-05 12:10] WyriHaximus commented on #275
The stable chart repository maintainer by Helm has been deprecated so that might be it. Is there an official Helm chart for Chaoskube?

[2021-01-05 12:26] ghouscht commented on #275
I don't think so, no. But why not create one now? I can file a PR with the chart if @linki is ok with merging it.

[2021-01-05 12:29] WyriHaximus commented on #275
That's the thing I was hinting at :+1: . Happy to help out

[2021-01-20 21:30] dbsanfte commented on #103
It's been quite awhile now since this feature was requested and I see some refactoring was done. Is there any chance this could be looked at again soon?

[2021-01-21 13:12] renovate[bot] opened #304 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

Error type: undefined. Note: this is a *nested* preset so please contact the preset author if you are unable to fix it yourself.

[2021-01-21 14:42] #304 closed

[2021-03-22 14:30] ghouscht commented on #275
FYI: The PR was merged, you can now use the helm chart with:
[code]

[2021-03-22 15:07] maurizio-lattuada commented on #275
Perfect, thank you all for this wonderful outcome :+1:

[2021-03-23 16:57] javajon commented on #275
Tried this:

[code]
Got this:

[code]

The Issue is image tag in repo is prefixed with "v" and this line strips the "v":

`image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"`

Also,

In value.yaml, the default for "tag" should be "latest", not "":

[code]

Also, as part of the new chart for the merge, the install instructions in the README should have new H

[2021-03-23 17:27] linki commented on #275
@javajon Thanks for trying and reporting this.

[2021-03-24 12:59] linki commented on #275
@javajon I added a PR that fixed it for me: https://github.com/linki/chaoskube/pull/324

I don't think we should add `tag: "latest"` to the default values.yaml. This is only for when you want to override the default version defined in the Chart.yaml with something else. Let me know what you think about it.

[2021-03-24 15:05] javajon commented on #275
It's best to peg it at a released version. The tag default is current blank
(""), which is a covert way of defining "latest". Suggested latest as
default to be self documenting. However, latest is an antipattern.

On Wed, Mar 24, 2021, 9:00 AM Martin Linkhorst ***@***.***>
wrote:

[2021-03-24 17:27] linki commented on #275
@javajon I see, thanks for the explanation.

When I look at [the code](https://github.com/linki/chaoskube/blob/master/chart/chaoskube/templates/deployment.yaml#L28) it looks like given the `""` tag value it will use the chart's `appVersion` (the released version) rather than `latest`. Isn't that what we want by default?

[2021-03-24 19:34] javajon commented on #275
With the default tag as "" then what version of Chaoskube will be used?
The missing value "" seems very indeterministic, not self-documenting, and
can easily break idempotency over time. Why not specify a precise recent
version of ChaosKube that the chart was tested with? If others want an
older or more recent version they can purposefully deviate from the
default. With a specific version, you are

[2021-03-30 10:09] linki commented on #271
That was done by @IoannisMatzaris in https://github.com/linki/chaoskube/pull/325.

[2021-03-30 10:09] #271 closed

[2021-05-12 13:11] zbindenren commented on #150
I imagine something like this:

[code]

I am not sure if it is a good idea to add the podname, this could lead to an increased label [cardianality](https://www.robustperception.io/cardinality-is-key).

[2021-05-13 15:01] mblaschke commented on #150
would be fine for me

[2021-05-17 07:46] sathiyajith opened #340 "Context deadline exceeded while using slack notifier"
Im getting this error while trying to use --slack-wbehhook :-
[code]
Can anyone please help.

[2021-05-17 09:19] sathiyajith commented on #340
@linki, Can you please tell me how to give the Authentication Bearer token to push messages to slack?

[2021-05-18 10:36] linki commented on #340
@sathiyajith I don't know if authentication was ever implemented. I don't see it in the code. It could be part of the webhook URL.

Maybe @GaruGaru knows more about it?

[2021-05-18 10:42] sathiyajith commented on #340
@linki Yeah, I too am doubtful. Simple curl command like : `curl -X POST -H 'Content-type: application/json' --data '{"text":"Hello, World!"}' https://hooks.slack.com/services/XXXX ` seems to work fine. But, when I give the same webhook url here, I get this context deadline error. So, I thought we should give OAuth token as well in headers.

[2021-05-18 11:29] linki commented on #150
There's already a metric that counts the total amount of terminated pods. I added the namespace as a label there in https://github.com/linki/chaoskube/pull/341.

@zbindenren @mblaschke Let me know if that works for you.

[2021-05-18 12:37] GaruGaru commented on #340
@sathiyajith Your error `context deadline exceeded (Client.Timeout exceeded while awaiting headers)` doesn't look related to an incorrect authentication (which shouldn't be needed for webhooks).

That looks like some connectivity issue either by your side or server side problem to me.
Can you try to call the same url on the same instance where the chaoskube is running ?

[2021-05-18 12:46] sathiyajith commented on #340
Okay. I tried the curl command in the same instance in which chaoskube is running. It is working.

[2021-05-18 12:57] GaruGaru commented on #340
Are you running chaoskube inside kubernetes or on a vm ? Are the dns resolution and networking working correctly ? Do you have any `NetworkPolicy` that may be creating issues ?
I'll make some tests and i'll let you know

[2021-05-18 13:04] sathiyajith commented on #340
Im running in kubernetes only. Networking is working fine. But I guess, this error is clearly because of something from my side kubernetes. Does cert-manager, MutatingWebhookConfiguration cause a problem? Because I have deployed them for other purpose. Can we please discuss this in any slack channel?

[2021-05-18 13:11] GaruGaru commented on #340
Can confirm that everything is working correctly on my side. I don't know if there is any slack channel for this project ( @linki ).
To my understanding of this project those services should be interfere but @linki may know better.ì

[2021-05-18 13:17] zbindenren commented on #150
@linki I had also a PR ready :smile:

Thanks, that is perfekt.

[2021-05-18 13:33] sathiyajith commented on #340
Okay, thanks. I will check from my side.

[2021-05-18 13:33] #340 closed

[2021-06-02 10:36] lathikakodoth opened #344 "maxKill functionality not working using helm chart"
When I try chaoskube with --max-kill=3 option it is not accepting , though logs does mention the value is taken .The number of pods killed is by default 1

From logs :
time="2021-06-02T10:30:45Z" level=info msg="setting pod filter" annotations= excludedPodNames="<nil>" includedPodNames="<nil>" kinds= labels="app=playground" maxKill=3 minimumAge=0s namespaceLabels= namespaces=

Command used :
helm

[2021-06-07 21:57] #150 closed

[2021-06-07 22:23] linki commented on #150
@zbindenren Thank you 😃

For reference, you can now use the following metric with the namespace label:
[code]

This should be available from version `v0.22.0` onwards.

[2021-06-08 14:30] linki commented on #344
You're using an old version of the chart (stable/chaoskube) where this flag is not supported.

Please use the following to use the new chart: https://github.com/linki/chaoskube/issues/275#issuecomment-805066591

[code]

Let me know if this works.

[2021-06-21 16:11] javajon commented on #275
As part of this Helm chart installation update, it should be registered on the chaos list at [Artifacthub.io](https://artifacthub.io/packages/search?ts_query_web=chaos).

[2021-10-03 09:19] Benzion18 opened #372 "Makefile fails"
Hi,

Trying to run the Makefile, I get below error. Please advise.

I run behind proxy, so before running, I set: export https_proxy=https://_myproxyaddress_:8080

**go run ./Makefile
go: github.com/hashicorp/go-multierror@v1.1.1: Get "https://proxy.golang.org/github.com/hultierror/@v/v1.1.1.mod": proxyconnect tcp: net/http: TLS handshake timeout
go: github.com/hashicorp/go-multierror@v1.1.1: Get

[2021-10-03 10:10] #372 closed

[2021-10-03 10:10] Benzion18 commented on #372
-

[2021-10-03 10:16] Benzion18 opened #373 "Pod termination timestamp"
Hi,

We need to see when each pod is killed. But the timestamp is not printed. I would expect date + time near each terminated pod. How can we see it?

INFO[0000] terminating pod                               name=xxxxxxxxx namespace=my-namespace
INFO[0060] terminating pod                               name=yyyyyyyyy namespace=my-namespace
INFO[0121] terminating pod                               n

[2021-10-18 22:52] renovate[bot] opened #376 "Dependency Dashboard"
This issue provides visibility into Renovate updates and their statuses. [Learn more](https://docs.renovatebot.com/key-concepts/dashboard/)

## Open

These updates have all been created already. Click a checkbox below to force a retry/rebase of any.

 - [ ] [chore(deps): update docker/build-push-action action to v3](../pull/456)
 - [ ] [chore(deps): update docker/login-action action to v2](../pull

[2022-01-24 13:19] linki commented on #373
This happens by default when you run it interactively on your local machine.

When you run it as a container in Kubernetes or via `$ docker run quay.io/linki/chaoskube` (without `-t`) you'll see the full timestamp.

If you want to run it locally you can switch to a different log formatter, e.g. `$ go run main.go --log-format json` will print logs in json which contain the full timestamp.

Alternat

[2022-03-01 21:29] pims opened #415 "Bug with gracePeriod conversion"
When a graceperiod is configured, it looks like the conversion to int64 is incorrect.

[code]

The issue is with:
[code]

since a duration default value is in nanoseconds, converting `gracePeriod` to int64 leads to using nanoseconds instead of seconds.

Example at: https://go.dev/play/p/Ee-vADPoDPt

PR incoming.

[2022-03-01 21:45] pims commented on #415
[code]
here's what we noticed in our cluster 🙃

[2022-04-28 10:17] #415 closed

[2022-04-28 10:18] linki commented on #415
🤦‍♂️

[2022-04-28 10:18] linki commented on #415
@pims Thanks for fixing this! 🤗

[2022-05-03 12:14] #128 closed

[2022-05-09 16:30] #376 closed

[2022-05-18 11:57] WolfspiritM opened #469 "[FEATURE] Kill only pods which do have more then 1 sibling replica"
We're using chaoskube to kill random pods and also to "balance" our cluster.

We have many microservices that are running with more then one replica however we have a few services that can only run with 1 replica. Our monitoring checks the health of the pods by calling their web endpoint and notify us if the service is down.

It would be nice if chaoskube can be configured to only kill pods that b

[2022-05-18 16:09] linki commented on #469
Good idea.

I think that could be added fairly easily here: https://github.com/linki/chaoskube/blob/d1b517de27a1b24cf427d6774f67924ff2aac3eb/chaoskube/chaoskube.go#L531 by adding something like

[code]

But we would need to write a test case to confirm that.

[2022-09-20 07:57] arjunanan6 opened #499 "Cannot disable dry run"
Hi,

I'm trying to use chaoskube, and I've managed to install it successfully in my namespace containing my app deployment. By default, dryrun is set to true.

When I run `chaoskube --no-dry-run`, I can see that it is set to false, however, if I were to immediately run `chaoskube` again, I see that it's been set back to true. I've also tried setting this when installing, but that does not change t

[2022-09-20 12:29] arjunanan6 commented on #499
Managed to get this working by updating the values yaml file. Count this down to my limited helm knowledge! :)

[2022-09-20 12:29] #499 closed

[2022-09-30 06:45] zbindenren opened #503 "Envar support"
Hi

Would a Pull Request accepted that adds Environment Variable support?

[2022-10-11 09:00] mblaschke-daimlertruck opened #506 "Switch to multi-arch docker image"
Please provide a multi-arch image with amd64 and at least arm64 using `docker buildx build`

[2022-10-11 17:55] mblaschke-daimlertruck commented on #506
switch from quay to ghcr.io/linki/chaoskube image, not it's working 🤔🧐

[2022-10-17 15:24] linki commented on #506
That was done in https://github.com/linki/chaoskube/pull/444

[2022-10-17 15:26] linki commented on #503
@zbindenren For the flags? All of them or just some?

[2022-10-17 15:41] arjunanan6 commented on #499
@linki There was no fix in specific. I think I just misunderstood how it worked and went by what I got from the output of `chaoskube --no-dry-run` as the actual configuration.

However, my pod logs showed that the configuration I used in my values.yaml file were being used.

[2022-10-17 15:57] linki commented on #499
I think `--set dryRun=false` works in general but the variable name is different. Try to mimic the path from the latest `values.yaml`, for example like this:

[code]

[2022-10-17 21:34] zbindenren commented on #503
All of them. Would be pretty easy with kingpin.

[2022-10-18 09:25] linki commented on #503
Ok, let's do it.

[2022-11-08 13:04] #503 closed